html {
    background: #111;
    font-family: Arial, sans-serif;
}

a {
    color: #00fff6;
    text-decoration: none;
}

.hide  { display: none; }
.clear { clear: both; }

.blue {
    color: #68c5ff;
}
.green {
    color: #6eff49;
}
.red {
    color: #f73db0;
}

#checkin-log {
    width: 100%; 
    margin: 10px 0 0 0;
}
#checkin-log th {
    background: #222;
    color: #ccc;
    padding: 2px 0;
    font-weight: normal;
    font-size: 1.1em;
}

#checkin-log td {
    background: #222;
    color: #ccc;
    padding: 3px;
    text-align: center;
}

#console-logs div:first-child,
#checkin-log tr:first-child td {
    background: #333;
    color: #fff;
    font-weight: bold;
}

#console-logs {
    margin: 10px 0 0 0;
}

.log-entry {
    color: #fff;
    background: #222;
    border-bottom: 1px solid #000;
    padding: 5px;
}
#console-menu {
    background: #222;
}
#console-menu a {
    background: #00fff6;
    padding: 4px 6px;
    display: block;
    float: left;
    margin: 0 2px 0 0;
    color: #000;
}
#console-menu a.active {
    background: #ccc;
    color: #555;
}
