{% extends "checkin/base.html" %}
{% load libs_tags %}

{% block project.body %}
<div id="console-menu">
    <a id="console-btn" class="active" href="#console">Console</a>
    <a id="logs-btn" href="#logs">Logs</a>
    <div class="clear"></div>
</div>
<table id="checkin-log">
    <thead>
        <tr>
            <th>Status</th>
            <th>Lat, Lng</th>
            <th>Accuracy</th>
            <th>Timestamp</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
<div id="console-logs" class="hide"></div>
<input type="hidden" id="log-count" value="1">
{% endblock %}

{% block site.styles %}
{% css "checkin/css/console.css" "static" %}
{% endblock %}

{% block app.scripts %}
{#<script type="text/javascript" src="{{ STATIC_URL }}checkin/js/json2.min.js"></script>#}
<script type="text/javascript" src="{{ STATIC_URL }}checkin/js/jquery.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}checkin/js/jquery.cookie.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}checkin/js/jquery.strings.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}checkin/js/jquery.checkin.js"></script>
{# jslib "live-" #}

{# http://jsconsole.com/ #}
{#<script src="http://jsconsole.com/remote.js?EFF66E92-0B1C-401C-85F2-AA09B61ED7A6"></script>#}
<script type="text/javascript">

$.tpl('log.entry', [
    '<tr>',
        '<td>{checkin.state:s}</td>',
        '<td>',
            '<a href="http://maps.google.com/maps?q={checkin.lat:s}+{checkin.lng:s}&hl=en&vpsrc=0&t=m&z=16">',
                '{checkin.lat:s}&deg; {checkin.lng:s}&deg;',
            '</a>',
        '</td>',
        '<td>{checkin.accuracy:.2f}m</td>',
        '<td>{checkin.timestamp:D}</td>',
    '</tr>'
]);

$.extend($.strConversion, {
    'D': function(timestamp){ 
        var f = 'Y-M-d H:m:s';
        var d = new Date(timestamp);
        function p(value) { return (value.toString().length < 2) ? '0' + value : value; }
        return f.replace(/([a-zA-Z])/g, function (_, fmtCode) {
            try {
                return ({
                    Y: d.getFullYear(),
                    M: p(d.getMonth() + 1),
                    d: p(d.getDate()),
                    H: p(d.getHours()),
                    m: p(d.getMinutes()),
                    s: p(d.getSeconds())
                })[fmtCode];
            }
            catch(e) {
                return fmtCode;
            }
        });
    }
});
$(function(){  

    var opts = {
        api_url: 'http://{{ request.META.HTTP_HOST }}/c/',
        debug:      true,
        campaign:   [2],
        bufferLength: 3, 
        minAccuracy: 30000,     // 20 000m (to allow desktop testing)
        minInterval: 3 * 1000,  // 3s
        maxInterval: 5 * 1000   // 5s
    }
    opts.log = function() {
        var args = $.makeArray(arguments);
        var msg  = args.shift();
        if (args.length > 0) {
            msg = msg.replace(/%\w/g, function(){ 
                return args.shift()
            })
        }
        $('<div class="log-entry"></div>').prependTo('#console-logs').text(msg)
    }
    var checkin = $.checkin.init(opts);

    var checkinList      = $('#checkin-log');

    var createCheckinRow = function(msg, checkin){
        var count = parseInt($('#log-count').val())
        var row = $.tpl('log.entry', $.extend({state: msg}, checkin));
        $('#log-count').val(count + 1);
        row.prependTo('#checkin-log tbody');
        checkinList.find('thead th:first').text("Status ("+ count +")")
    }

    checkin.watch(function(pos){
        var pos = $.extend({}, pos)
        try {
            pos.timestamp = pos.timestamp.getTime();
        }
        catch (e) {
            pos.timestamp = pos.timestamp;
        }

        createCheckinRow('New pos.', {
            lat: pos.coords.latitude,
            lng: pos.coords.longitude,
            timestamp: pos.timestamp,
            accuracy: pos.coords.accuracy
        });

        checkin.submit(pos, function(data) {
            var msg;
            if (data.errors) {
                msg = '<span class="red">Checkin fail</span>';
            }
            else if (data.checkin.place) {
                msg = '<span class="blue">'+ data.checkin.place.name +'</span>';
            }
            else {
                msg = '<span class="green">Checkin (OOB)</span>';
            }
            createCheckinRow(msg, data.checkin);
        }, false, { maximumAge: 0, enableHighAccuracy: true });
    });

    $('#console-btn').bind('click', function() {
        $(this).addClass('active');
        $('#checkin-log').show();
        $('#console-logs').hide();
        $('#logs-btn').removeClass('active');
    })
    $('#logs-btn').bind('click', function() {
        $(this).addClass('active');
        $('#checkin-log').hide();
        $('#console-logs').show();
        $('#console-btn').removeClass('active');
    })

})
</script>
{% endblock %}


{% block site.head %}{% endblock %}
{% block project.head %}{% endblock %}
{% block project.footer %}{% endblock %}
{% block project.headstyles %}{% endblock %}
{% block project.frontadminbar %}{% endblock %}
{% block site.frontadmin %}{% endblock %}

