{% extends "checkin/base.html" %}

{% block app.meta %}
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
{% endblock %}

{% block app.scripts %}
<script type="text/javascript" src="{{ STATIC_URL }}checkin/js/json2.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}checkin/js/jquery.strings.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}checkin/js/jquery.checkin.js"></script>
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?v=3.5&sensor=false&callback=$.initmap"></script>


<script>

(function(){
    var checkin = $.checkin.init({
        api_url: 'http://{{ request.META.HTTP_HOST }}/c/',
        debug:      true,
        campaign:   [2],
        bufferLength: 3, 
        minAccuracy: 30000,     // 20 000m (to allow desktop testing)
        minInterval: 3 * 1000,  // 3s
        maxInterval: 5 * 1000   // 5s
    })

    $.CheckinAccuracyScore = function(acc){
        var o = 5;
        if      (acc <= 30)   { o = 1 }
        else if (acc <= 60)   { o = 2 }
        else if (acc <= 120)  { o = 3 }
        else if (acc <= 480)  { o = 4 }
        else if (acc <= 960)  { o = 5 }
        else if (acc <= 1880) { o = 5 }
        else if (acc <= 3760) { o = 5 }
        return o;
    }

    $.resizemap = function(){
        if (!$.browser.mobile) {
            var w = window.innerWidth  - 1;
            var h = window.innerHeight - 1;
            $('#gmap').css({width: w, height: h});
        }
    }

    $.addMapMarker = function(map, point, title, image){
        return marker = new google.maps.Marker({
            position: point, 
            map: map, 
            title: title,
            icon: image || false
        });   
    }

    $.createMapIcon = function(src, size, anchor) {
        return new google.maps.MarkerImage(src,
            new google.maps.Size(size[0], size[1]),
            new google.maps.Point(0,0),
            new google.maps.Point(anchor[0], anchor[1]));
    }

    var infoWindowTemplate = [
        '<div id="content">',
            '<div id="siteNotice"></div>',
            '<b id="firstHeading" class="firstHeading"><a href="{% url admin:checkin_checkinplace_changelist %}{place.id:d}/">{place.name:s}</a></b>',
            '<div id="bodyContent">',
                '<address>{place.address:s}</address>',
                '<table style="text-align:left;">',
                    '<tr><th>Campaign</th><td>{place.campaign:s}</td></tr>',
                    '<tr><th>Longitude</th><td>{place.lng:s}</td></tr>',
                    '<tr><th>Latitude</th><td>{place.lat:s}</td></tr>',
                    '<tr><th>Req. proximity</th><td>{place.proximity:s} {place.distances_unit:s}</td></tr>',
                    '<tr><th>Min. accuracy</th><td>{place.min_accuracy:s} {place.distances_unit:s}</td></tr>',
                    '<tr><th>Date created</th><td>{place.date_created:s}</td></tr>',
                    '<tr><th>Is active</th><td>{place.is_active:s}</td></tr>',
                '</table>',
        '</div>',
    '</div>'
    ].join('');

    $(function(){
        //$('#gmap').css({width: 500, height: 500});
        $(window).resize($.resizemap);

        if ($.device.desktop) {
            $('#legend').show();
            $.resizemap();
        }
        else {
            // Should be 100% .. but it doesn't work ..
            $('#gmap').css({
                width: window.innerWidth, 
                height: window.innerHeight});
        }



        function handlerGeoUpdate(pos) {
            var here = new google.maps.LatLng(
                pos.coords.latitude, pos.coords.longitude);

            map.setCenter(here);

            var msg  = [
                'Longitude: ', pos.coords.longitude,
                'Latitude: ', pos.coords.latitude,
                'Accuracy: ', pos.coords.accuracy,
            ].join(', ')

            $.checkin.submit(pos, function(data) {
                if (data.success != false) {
                    var msg = "Success! - " + msg
                    var mex = $.CheckinAccuracyScore(pos.coords.accuracy);
                }
                else {
                    var msg = "Checkin FAIL ("+ data.errors.join(', ') +")" + msg
                    var mex = 0
                }

                $.addMapMarker(map, 
                    new google.maps.LatLng(pos.coords.latitude, pos.coords.longitude), 
                    msg, "{{ STATIC_URL }}website/img/special-markers/new.png")
            });
        }

        $.initmap = function() {

            var initialLocation = new google.maps.LatLng(45.25048, -74.132996); // valleyfield
            var myOptions = {
                zoom: 12,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };

            var map = new google.maps.Map($("#gmap").get(0), myOptions);

            map.setCenter(initialLocation);

            {% for place in checkinplace_list %}
            var point{{ forloop.counter }} = new google.maps.LatLng({{ place.lat }}, {{ place.lng }});

            var marker{{ forloop.counter }} = $.addMapMarker(map, point{{ forloop.counter }}, 
                "{{ place.name }} - {{ place.campaign }}",
                "{{ STATIC_URL }}checkin/img/checkinplace-{{ place.is_active|yesno:"active,inactive" }}.png"
            )

            var range{{ forloop.counter }} = new google.maps.Circle({
              strokeColor: "#{{ place.is_active|yesno:"bdff16,999999" }}",
              strokeOpacity: 0.85,
              strokeWeight: 2,
              fillColor: "#{{ place.is_active|yesno:"bdff16,999999" }}",
              fillOpacity: 0.25,
              map: map,
              center: point{{ forloop.counter }},
              radius: {% firstof place.proximity place.campaign.proximity %}
            });

            var extendedRange{{ forloop.counter }} = new google.maps.Circle({
              strokeColor: "#{{ place.is_active|yesno:"7cdeff,999999" }}",
              strokeOpacity: 0.45,
              strokeWeight: 1,
              fillColor: "#{{ place.is_active|yesno:"7cdeff,999999" }}",
              fillOpacity: 0.09,
              map: map,
              center: point{{ forloop.counter }},
              radius: {% firstof place.proximity place.campaign.proximity %} + {% firstof place.min_accuracy place.campaign.min_accuracy %}
            });
            
            var infowindow{{ forloop.counter }} = new google.maps.InfoWindow({
                content: $.format(infoWindowTemplate, {
                    id: "{{ place.id }}",
                    name: "{{ place.name }}",
                    address: "{{ place.address }}",
                    campaign: "[{{ place.campaign_id }}] {{ place.campaign.name }}",
                    name: "{{ place.name }}",
                    address: "{{ place.address }}",
                    lng: "{{ place.lng }}",
                    lat: "{{ place.lat }}",
                    distances_unit: "{{ place.distances_unit }}",
                    proximity: "{{ place.proximity }}",
                    min_accuracy: "{{ place.min_accuracy }}",
                    date_created: "{{ place.date_created }}",
                    is_active: "{{ place.is_active }}"
                })
            });

            google.maps.event.addListener(marker{{ forloop.counter }}, 'click', function() {
              infowindow{{ forloop.counter }}.open(map, marker{{ forloop.counter }});
            });
            {% endfor %}
            {% comment %}
            {% for checkin in checkin_list %}
            var marker = $.addMapMarker(map, 
                new google.maps.LatLng({{ checkin.lat }}, {{ checkin.lon }}), 
                "{{ checkin.date }} - {{ checkin.success|yesno:"YEAH BABY,FAIL,What the ?" }}",
                $.createMapIcon("{{ STATIC_URL }}checkin/img/checkin-{{ checkin.is_valid|yesno:"ok,fail" }}.png", [29, 31], [14, 15])
            )
            {% endfor %}
            {% endcomment %}


            // Active tracker
            var active_marker = false;
            var active_point = false;
            var active_range = false;
            checkin.watch(function(pos){
                var pos = $.extend({}, pos)
                try {
                    pos.timestamp = pos.timestamp.getTime();
                }
                catch (e) {
                    pos.timestamp = pos.timestamp;
                }

                // Reset
                if (active_marker) { active_marker.setMap(null);active_marker = false; }
                if (active_range)  { active_range.setMap(null);active_range = false; }
                active_point  = new google.maps.LatLng(pos.coords.latitude, pos.coords.longitude);
                active_marker = $.addMapMarker(map, active_point, 
                    "Current GPS position "+ pos.coords.latitude +", "+ pos.coords.longitude +" ("+ pos.coords.accuracy +")",
                    "{{ STATIC_URL }}checkin/img/you.png"
                )

                active_range = new google.maps.Circle({
                  strokeColor: "#cc3300",
                  strokeOpacity: 0.85,
                  strokeWeight: 2,
                  fillColor: "#cc3300",
                  fillOpacity: 0.25,
                  map: map,
                  center: active_point,
                  radius: pos.coords.accuracy
                });
            })

        } // initmap

    })
})(jQuery)
</script>
{% endblock %}


{% block project.body %}
<div id="gmap"></div>
<style>
html, body { 
    margin: 0; 
    padding: 0; 
    height: 100%:
    width: 100%;
}
#gmap {
    width: 500px:
    height: 500px:
}
</style>
{% endblock %}

{% block project.head %}{% endblock %}
{% block project.footer %}{% endblock %}
{% block site.frontadmin %}{% endblock %}
{% block project.frontadminbar %}{% endblock %}

